/* 최상위 컨테이너 높이 제한 */
html, body {
  height: 100%;
  margin: 0;
  padding: 2rem;
  overflow: hidden;
}

#root {
  width: 100%; /* 화면 너비에 맞게 확장 */
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
